<div class="create-table" ng-controller='tableButtonController'>
    <div class="create-table-btn" ng-click='twoTop()'><img src="image/two-top.jpg" alt=""></div>
    <div class="create-table-btn" ng-click='fourTop()'><img src="image/four-top.jpg" alt=""></div>
    <div class="create-table-btn" ng-click='sixTop()'><img src="image/six-top.jpg" alt=""></div>
    <div class="create-table-btn" ng-click='eigthTop()'><img src="image/eight-top.jpg" alt=""></div>
    <div class="create-table-btn" ng-click='booth()'>booth</div>
</div>
